@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains mono";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-image: linear-gradient(to bottom, #14131b, #08070b);
}

h1 {
  font-size: 16px;
  font-weight: bold;
  color: #817d92;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top-div {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #24232c;
}

.copy {
  cursor: pointer;
}

.copy :hover {
  fill: #ffffff;
}

.password {
  font-size: 24px;
  font-weight: bold;
  color: #e6e5ea;
}

.bottom-div {
  padding: 16px;
  background-color: #24232c;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.text {
  font-size: 16px;
  font-weight: bold;
  color: #e6e5ea;
}

.length-text {
  font-size: 24px;
  font-weight: bold;
  color: #a4ffaf;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  cursor: pointer;
  background-color: #18171f;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;

  background-color: #e6e5ea;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.range-input::-webkit-slider-thumb:hover {
  border: solid 2px #a4ffaf;
  background-color: #18171f;
}
.range-input:active::-webkit-slider-thumb {
  border: solid 2px #a4ffaf;
  background-color: #18171f;
}
.range-input:focus::-webkit-slider-thumb {
  border: solid 2px #a4ffaf;
  background-color: #18171f;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.includes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.include {
  display: flex;
  gap: 20px;
  align-items: center;
}

.include .active {
  background-image: url(./images/icon-check.svg);
  background-size: cover;
  background-color: #a4ffaf;
  border-color: #a4ffaf;
}
.check {
  width: 20px;
  height: 20px;
  border: solid 2px #e6e5ea;
  /* cursor: pointer; */
}

.strength-div {
  padding: 15px;
  background-color: #18171f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.strength {
  font-size: 16px;
  font-weight: bold;
  color: #817d92;
}

.strength-text {
  font-size: 18px;
  font-weight: bold;
  color: #e6e5ea;
}

.content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.divs {
  display: flex;
  gap: 8px;
}

.strengths {
  width: 10px;
  height: 28px;
  border: solid 2px #e6e5ea;
}

.colored {
  background-color: #f8cd65;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  background-color: #a4ffaf;
  border: none;
  padding: 18px;
  font-size: 16px;
  font-weight: bold;
  color: #24232c;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  border: solid 2px #a4ffaf;
  background-color: #24232c;
  color: #a4ffaf;
}

@media screen and (min-width: 768px) {
  body {
    gap: 31px;
  }

  h1 {
    font-size: 24px;
  }

  main {
    gap: 24px;
  }

  .top-div {
    padding: 19px;
  }

  .password {
    font-size: 32px;
  }

  .length-text {
    font-size: 32px;
  }

  .text {
    font-size: 18px;
  }

  .include {
    gap: 24px;
  }

  .strength-div {
    padding: 21px 31.5px 20px 32px;
    gap: 150px;
  }

  .strength {
    font-size: 18px;
  }

  .strength-text {
    font-size: 24px;
  }

  button {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .strength-div {
    gap: 160px;
  }
}
